<div style="text-align: center;">
    <h1>log in</h1>
    <form [formGroup]="formLogin" (ngSubmit)="send()">

        <label for="username">User Name</label>
        <input type="text" formControlName="username"
         #usernameInput (input)="user.username= usernameInput.value">
        
        <br>

        <label for="username">Password</label>
        <input type="password" formControlName="password"
         #passwordInput (input)="user.password= passwordInput.value">

        <button type="submit" >send </button>
    </form>
</div>
