<h1>home section</h1>
<div *ngIf="loginStatus | async as loginStatus"><!-- this element will be shown only for authenticated users -->
    <form [formGroup]="toolsForm" (ngSubmit)="saveTool()">

        <label for="toolName">Tool Name</label>
        <input type="text" formControlName="toolName">
        
        <br>

        <label for="price">Price</label>
        <input type="text" formControlName="price">

        <button type="submit" >send </button>
    </form>
</div>
<hr>

<div>
    <app-tool-list [toolList]="exportToolList"> </app-tool-list>
</div>

