<div *ngIf="loginStatus | async as loginStatus" class="container"><!-- this element will be shown only for authenticated users -->
    <form [formGroup]="toolsForm" (ngSubmit)="saveTool()">

        <!-- input for user name -->
        <mat-form-field class="input-style">
            <mat-label>Enter a Tool name</mat-label>
            <input matInput type="text" formControlName="toolName">
            <mat-error *ngIf="formControls['toolName'].touched && formControls['toolName'].invalid">
                <label *ngIf="formControls['toolName'].errors && formControls['toolName'].errors['required']">
                    Empty field.
                </label>
                <label *ngIf="formControls['toolName'].errors?.['minlength']">
                    Name must be at least 2 characters long.
                </label>
            </mat-error>
        </mat-form-field>
        

        <!-- input for user name -->
        <mat-form-field class="input-style">
            <mat-label>Enter a price</mat-label>
            <input matInput type="text" formControlName="price">
            <mat-error *ngIf="formControls['price'].touched && formControls['price'].invalid">
                <label *ngIf="formControls['price'].errors && formControls['price'].errors['required']">
                    Empty field.
                </label>
                <label *ngIf="formControls['price'].errors?.['minlength']">
                    Name must be at least 1 characters long.
                </label>
            </mat-error>
        </mat-form-field>

        <button style="margin-top: 10px;" mat-raised-button color="accent">send</button>
    </form>
</div>

<hr>


<div class="child-container">
    <div *ngIf="(loginStatus | async)==true as loginStatus; else spectator;" class="card">
        <label>Logged as
            <span *requiredRoles="['USER']" class="span-user">user</span>
            <span *requiredRoles="['ADMIN']" class="span-admin">admin</span>
        </label>
    </div>

    <ng-template #spectator>
        <div class="card">
            <label>No logged in</label>
        </div>
    </ng-template>

    <!-- export data from home.component.ts to child component via @Input() in tool-list.component.ts -->
    <app-tool-list [toolList]="exportToolList"> </app-tool-list>
</div>

