<mat-toolbar style="background:linear-gradient(135deg, #57ca85 0%,#184e68 100%);">

    <div class="title">
        <label>My Application</label>
    </div>

    <div class="auth-buttons">
        <button mat-fab class="home-button" routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-raised-button  style="margin-top: 11px;" routerLink="/tools-management" routerLinkActive="is-active">
            <mat-icon>handyman</mat-icon>
            tools management
        </button>
        <button mat-raised-button  style="margin-top: 11px;"
            *ngIf="(loginStatus | async)==true as loginStatus" routerLink="/admin" routerLinkActive="is-active">
            <mat-icon>admin_panel_settings</mat-icon>
            admin control
        </button>
    </div>
  
    <span class="spacer"></span>
    
    <div *ngIf="!(loginStatus | async) as loginStatus; else logoutIfUserIsLogged" class="auth-buttons">
        <button mat-raised-button  color="primary" routerLink="/login" routerLinkActive="is-active">
            <mat-icon>login</mat-icon>
             log in
        </button>
        <button mat-raised-button  color="primary" routerLink="/signup" routerLinkActive="is-active">
            <mat-icon>how_to_reg</mat-icon>
             sign up
        </button>
    </div>

    <ng-template #logoutIfUserIsLogged>
        <button mat-raised-button  color="primary" (click)="logout()">
            <mat-icon>logout</mat-icon>
             log out
        </button>
    </ng-template>

</mat-toolbar>

<router-outlet></router-outlet>